{% extends 'base.html' %}
{% load static %}
{% block title %}Log In{% endblock %}
{% block content %}
<div class="container d-flex justify-content-center align-items-center" style="height: 80vh">
  <div class="card" style="width: 25rem;">
    <div class="card-body">
      <h1 class="card-title text-center mb-4">Log In</h1>
      <form method="POST" action="{% url 'CyRanch_Connect:login' %}" class="needs-validation" id="login-form" novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.path }}">
        <div class="form-floating mb-3">
          <input name="student_id" id="student_id" class="form-control rounded-0 shadow-none" type="text" placeholder=" " required/>
          <label for="student_id">Student ID</label>
          {% if error %}
            <div class="invalid-feedback">The student ID or password you have entered is invalid.</div>
          {% else %}
            <div class="invalid-feedback">Please enter a valid student ID.</div>
          {% endif %}
        </div>
        <div class="form-floating mb-3">
          <input name="password" id="password" class="form-control rounded-0 shadow-none" type="password" placeholder=" " required/>
          <label for="password">Password</label>
          {% if error %}
            <div class="invalid-feedback">The student ID or password you have entered is invalid.</div>
          {% else %}
            <div class="invalid-feedback">Please enter a valid password.</div>
          {% endif %}
        </div>
        <button class="btn btn-success border rounded-0 shadow-none" type="submit" style="width: 100%;background: #ffd801;color: #000000" onMouseOver="this.style.background='#d9b800'" onMouseOut="this.style.background='#ffd801'" value="Log In">Log In</button>
        <div class="text-center mt-2">
          <p class="mb-0">Don't have an account?</p>
          <a class="link-secondary" href="{% url "CyRanch_Connect:register" %}">Sign-Up here</a>
        </div>
      </form>
      <script>
        (function validate_form() {
          'use strict'
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var form = document.getElementById('login-form');
          // Loop over them and prevent submission
          form.addEventListener('submit', function (e) {
            if (!form.checkValidity()) {
              e.preventDefault()
              e.stopPropagation()
            }
            form.classList.add('was-validated')
          }, true)
        })()
      </script>
    </div>
  </div>
</div>
{% endblock %}
