{% extends 'base.html' %}

{% block content %}
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card p-4">
        <h1 class="text-center mb-4">Sign Up</h1>
        <form method="POST">
          {% csrf_token %}
          {{ form.as_p }}
          <div class="form-group form-check" style="padding-bottom: 2%">
            <input type="checkbox" class="form-check-input" id="terms" required>
            <label class="form-check-label" for="terms">I have read and accept the <a href="/Terms&Conditions" target="_blank" style="color: blue;">Terms &amp; Conditions</a></label>
          </div>
          <button class="btn btn-success border rounded-0 shadow-none" type="submit"
                    style="width: 100%; background: #ffd801; color: #000000"
                   onMouseOver="this.style.background='#d9b800'"
                   onMouseOut="this.style.background='#ffd801'">
                   Register
                </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
